
.container_recuperar{
   
    position: relative; 
    height:800px;
   width:1350px;
}


.imagen_recuperar{

    background-image: url("https://mr360bucket.s3.amazonaws.com/mr360_images/colombia_mapa.png");
    background-repeat:no-repeat;
    background-size: 100%;
   height:800px;
   width:1500px;
   filter: blur(2px);
   position: absolute;
    z-index: 1;

}


 .caja_recuperar{
    position: absolute;
    z-index: 2;
    left: 55%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    width: 600px;
    flex-direction: column;
    margin-top: -100px;
 }

 .encabezado_recuperar {
    background-color:#4f7df2;
    color: #ffffff;
    padding: 5px;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px ;
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}

.contenido_recuperar {
    background-color: #fff;
    font-size: 26px;
}

.recuperar_formulario{
    padding-top: 20px;
}

.textoRecuperar{

  font-size: 24px;
}

.caja_texto_recuperar{
    text-align: center;
}

.caja_input_recuperar {
    background-color:#c9e4ff;
    padding: 10px;
    margin: 20px;
}



   @media(max-width: 768px) {
    .contenido_recuperar {
        
        width: auto;
    }


    .caja_recuperar{
        width: 550px;
        margin-top: 0px;
        left: 30%;
        top: 50%
    }

    
}




@media(max-width: 500px) {
    .container_singup {
        
        width: auto;
    }


    .caja_recuperar{
        width: 350px;
        margin-top: 0px;
        left: 15%;
    }
    .btn{
        font-size: 17px;
    }
}